/* LINK COLLECTION MARKET PLACE */
@media only screen and (max-device-width: 480px){
    .container-lc{
        width:100vw;
        display: flex;
        align-content: center;
        position: relative;
        /* left:15px; */
        background-color: transparent;
    }
    .link-group-area-2{
        width:100%;
    }
    .card-hotline-2 {
        width:100%;
    }
    
    
  }
  @media (max-width: 385px) {
    .link-group-area{
        width:100%;
        position: absolute;
    }
    .container-lc{
        display: flex;
        align-content: center;
        padding:10px;
        position: relative;
        left:0px;
    }
    .card-hotline{
        position:relative;
        /* left:12px; */
    }
    
  }
  @media (max-width: 305px) {
    .link-group-area-2{
        width:100%;
        height:400px;
        /* position: absolute; */
    }
    .container-lc{
        display: flex;
        align-content: center;
        padding:10px;
        position: relative;
        left:0px;
        /* left:35px; */
    }
    .card-hotline{
        position:relative;
        /* left:12px; */
    }
    
  }

  @media only screen and (max-device-width: 480px){

    
  }

/* LINK COLLECTION MARKET PLACE */