.box-modal-address{
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
}
.list-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}