.carousel-wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: sans-serif;
  }

  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
/* 
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
  } */


  .owl-carousel .item {
    text-align: center;
  }

  .owl-carousel .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
  }

  .owl-carousel .owl-prev {
    left: -120px;
  }

  .owl-carousel .owl-next {
    right: -120px;
  }

  .owl-item{
      width:270px !important;
  }
  .owl-theme .owl-nav [class*=owl-] {
    color: #37CED5;
    font-size: 39px;
    background: rgb(255, 255, 255,0.5);
    /* background-color: red; */
    width:80px;
    height:80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
  }

  .owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
  }

  /* card */
  .card-item{

  width:250px;
  height:200px;
  /* background: white; */
  border:1px solid  #D4DEE8;
  padding:5px;
  margin-left:2px;
  margin-right:2px;
  border-radius:5px;
  position: relative;
  /* left:-30px; */
  }
  .card-item-list{
  padding-top:5px;
  /* padding-left:20px; */
  display: flex;
  width:100%;
  height:130px;
  background-color: white;
  flex-direction: column;
}
.img-card{
  width:100%;
  height:200px;
  /* border:1px solid black; */
}
.split-item{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}
.item-price{
  width:50%;
  /* background-color: blue; */
  line-height:0.7;
}
.item-price p:nth-child(1){
  text-decoration: line-through;
}
.icon-buy{
  width:30px !important;
  height:30px;
  position: relative;
  left:15px;
}
.icon-buy:hover{
  cursor: pointer;
}


#card-item{
  display: flex;
  flex-direction: row;
}


.box-render-promo-2{
  width:100%;
  height:100%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow-y:hidden; 
  /* overflow-x:hidden;  */
  
  }

  .slick-slide{
    width:300px;
  }