.box-groupbuy{
    padding-top:20px;
    width:800px;
    height:550px;
    background-color: #f5f5f5;
    border-radius:5px;
    display: flex;
    flex-direction: row;
  
}

.group-left{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    /* padding:10px; */
    /* background-color: red; */
}

.box-card-kurir-sp {
    width:100%;
    height:45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    margin-top:10px;
    border-radius:10px;
     box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.box-card-kurir-sp-top {
    width:100%;
    background-color:white;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    border-radius:10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.group-right{
    width:50%;
    height:100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}


.option-payment-gb{
    width:280px !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    
    margin-bottom:20px;
}




.option-address-gb {
    width:280px !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
}
.option-province-gb {
    width:280px !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
}
.option-kota-gb {
    width:280px !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
}
.option-kecamatan-gb {
    width:280px !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
}
.option-kelurahan-gb {
    width:280px !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
}
.option-kodepos-gb {
    width:40% !important;
    left:1% !important;
    position: relative;
    left:0.5% !important;
    /* top:45% !important; */
    right: 2.9% !important;;
    
    position: relative;
    top:15px;
    margin-bottom:20px;
    
}
.groupbuy-form{
    width:100%;
    height:100%;
    align-items: center;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.login-name{
    width:100%;
    height:70px;
    align-items: center;
}
.login-name p{
    display: flex;
    position: relative;
    /* left:-75px; */
}
.box-name{
    width:250px;
    height:30px;
    
}
.box-name-2{
    width:250px;
    height:30px;
    position: relative;
    top:10px;
    left:15px;
}
.box-name-2 p {
    color:#217384;
    font-size:14px;

}
.box-name-3{
    width:250px;
    height:30px;
    position: relative;
    top:10px;
    left:35px;
}
.box-name-3 p {
    color:#217384;
    font-size:14px;

}

.name-form{
    width:220px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border:1px solid #36ced5;
    border-radius:5px;
}
.name-form::placeholder{
    color:white;
    font-size: 12px;
}
.kodepos-form{
    margin-top:10px;
    width:70%;
    height:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    outline:0;
    border-width:0px;
    border-radius:5px;
    border:1px solid #ced4da;

    
}
.kodepos-form:focus{
    outline:0;
}
.kodepos-form::placeholder{
    color:black;
    font-size: 11px;
    padding-left:15px;
}
.kodepos2-form{
    margin-top:10px;
    width:90%;
    height:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    outline:0;
    border-width:0px;
    border-radius:5px;
    border:1px solid #ced4da;

    
}
.kodepos2-form:focus{
    outline:0;
}
.kodepos2-form::placeholder{
    color:black;
    font-size: 11px;
    padding-left:15px;
}

.kodepos-form-top{
    margin-top:10px;
    width:57%;
    height:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    outline:0;
    border-width:0px;
    border-radius:5px;
    border:1px solid #ced4da;
}
.kodepos-form-top:focus{
    outline:0;
}
.kodepos-form-top::placeholder{
    color:black;
    font-size: 12px;
    padding-left:15px;
}
.form-select{
    font-size: 12px !important;
}

.card-kurir-sp{
     

    /* #37ced5 */
    height:100%;
    width:50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction:column;
    border-radius:10px;
    /* border-radius:10px; */
    
    /* border:1px solid black; */
    
}
.input-card-sp{
    width:240px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    /* background-color: red; */
}
.input-group{
    flex-wrap: nowrap !important;
}
.custom-select{
    height:30px !important;
    border:1px solid #ced4da;
    width:100%;
    font-size: 11px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: flex;
    justify-content: center;
    
}
.custom-select::placeholder{
    display: flex;
    justify-content: center;
}
.input-group-text {
    height:30px !important;
    /* width:100px; */
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #217384 !important;
    color:white !important;
    font-size:12px !important;
    border:1px solid #217384 !important;
}
input:focus{
    color:#217283;
    padding-left:10px;
    outline:0px;
}

.login-pass{
    width:100%;
    height:70px;
    align-items: center;
}

.box-name p {
    color:white;
}


/* right */

.gr-1{
    display: flex;
    width:100%;
    height:100px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.btn-pesan{
    width:180px;
    height:40px;
    border-radius:5px;
    background-color: #37ced5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:20px;
    left:25px;
}
.btn-pesan p {
    position: relative;
    top:10px;
    color:white; 
    margin-right:5px;
}
.btn-pesan:hover{
    cursor: pointer;
}

.box-total-price{
    width:50%;
    height:80px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:0.5;
    /* padding-left:20px; */
}
.box-total-price p {
    font-size: 14px;
    color:#217384;
    text-align: center;
    width:100%;
    position: relative;
    left:5px;
}
.box-total-price:hover{
    cursor: pointer;
}

.total-price{
    width:150px;
    height:30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: centers;
    position: relative;
    top:-5px;
}
.total-price p {
    position: relative;
    top:10px;
    color: #217384 !important;
    font-size: 13px;
}


.icon-home{
    height:25px;
    width:25px;
}

.gr-2 {
    width:100%;
    height:350px;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top:10px;
}

.box-img-gr{
    height:300px;
    width:350px;
    border-radius:10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /* background-color: blue; */
}
.img-gr{
    width:100%;
    height:100%;
    border-radius:10px;
}

.option-alamat-gb{
    position: relative;
    top:10px;
    width:280px !important;
    margin-bottom:15px;
    
}
.option-pengiriman-gb{
    
    
    width: 95% !important;
}
.alamat-pengiriman {
    /* background-color: blue; */
    position: relative;
    left:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    margin-bottom:10px;
}

.box-pengiriman {
    position: relative;
    top:30px;
}