
.box-item-detail{
    /* width:100%; */
    /* height:100vh; */

    height:600px;
    width:1000px;
    /* background-color: #f5f5f5; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    overflow:hidden;
    padding:5px;
    z-index:101;
    /* border:1px solid black; */
}
.box-item-img{
    display: flex;
    flex-direction: column;
    width:35%;
    height:100%;
    /* backdrop-filter: red; */
}

.item-img{
    /* padding-top:100px; */
    position: relative;
    /* top:50px; */
    width:100%;
    height:80%;
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    /* align-items: center; */
    /* padding:5px; */
}

.item-detail{
    /* width:500px; */
    width:60%;
    
    height:100%;
    padding-left:5px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    top:40px;
    /* overflow:hidden; */
}
/* .img-icon{
    width:50px;
    height:70px;
    margin-right:5px;
} */
.box-back-id{
    width:30px;
    height:30px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    /* top:100px; */
    /* left:80px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-right:5px;
}
.box-next-id{
    width:30px;
    height:30px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    /* top:100px; */
    /* left:-60px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.icon-prev-1{
    font-size:15px;
    color:#37ced5;
    opacity: 1;
    /* background: red; */
}

.box-nex-idt:hover{
    cursor: pointer;
}
.box-back-id:hover{
    cursor: pointer;
}
.detail-1 {
    /* height:300px; */
    width:auto;
    position: relative;
    /* top:20px; */
    /* background-color: green; */
}
.item-1 {
    /* background-color: red; */
    position: relative;
    top:15px;
}
.item-1 p{
    color:#217384;
    font-size: 30px ;
}
.item-3{
    height:fit-content;
    width:90%;
    /* background-color: purple; */
    /* margin-bottom:5px; */
    position: relative;
    left: 20px;
    top:-40px;
}
#span_harga{
    font-size: 30px;
    color: #37CED5;
}
.item-3 p {
    color:#217384;
    font-size: 15px;;
}
.item-2 p {
    font-size: 20px !important;
    color:#217384;
}
.item-2 p:nth-child(2){
    color:#37CED5;
    font-size: 16px !important;
}
.item-4 {
    width:80%;
    /* background-color: red; */
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    position: relative;
    top:0px;
}
.item-4 p {
    color:#217384;
    font-size: 20px ;
}

.item-4-sp {
    width:95%;
    /* background-color: red; */
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    position: relative;
    top:0px;
}
.item-4-sp p {
    color:#217384;
    font-size: 20px ;
}
.box-qty-detail{
    border-radius:5px;
    width:150px;
    height:30px;
    background-color: #36ced5;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    top:10px;
}

.box-detail-option{
    width:100%;
    height:100px;
    display: flex;
    flex-direction: row;
}
.box-add{
    height:45px;
    width:165px;
    background-color: #37CED5 !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius:5px;
}
.box-add li p{
    /* background-color: red !important; */
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    float: left;
}
.box-add img{
    background-color: transparent !important;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    float: left;
}


.img-cart{
    height:40px;
    width:40px;
}

.box-discount{
    width:280px;
    height:46px;
    background:#37CED5;
    border-radius:5px;
    margin-left: 5px;
}



.add-discount p{
    padding: 10px;
    color: white;
    font-size: 1em;
}

.deskripsi_gb {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:80%;
    height:130px;
    overflow: scroll;
    /* overflow-y:scroll; */
    position: relative;
    top:-70px;

}

 .deskripsi_gb::-webkit-scrollbar {
    display: inherit;
    width: 10px;
}
.deskripsi_gb::-webkit-scrollbar-thumb {
    background-color: #37CED5;
    border-radius: 10px;
} 
.deskripsi_gb p{
    color: white !important;
    font-size: 18px;
}





.deskripsi {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:80%;
    height:200px;
    overflow: scroll;
    position: relative;
    top:-40px;

}
.deskripsi::-webkit-scrollbar {
    display: inherit;
    width: 10px;
}
.deskripsi::-webkit-scrollbar-thumb {
    background-color: #37CED5;
    border-radius: 10px;
} 

.deskripsi p{
    color: white !important;
    font-size: 18px;
}

.deskripsi-sp {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:95%;
    height:150px;
    overflow: scroll;
    position: relative;
    top:-40px;

}
.deskripsi-sp::-webkit-scrollbar {
    display: inherit;
    width: 10px;
}
.deskripsi-sp::-webkit-scrollbar-thumb {
    background-color: #37CED5;
    border-radius: 10px;
} 
.deskripsi-sp p{
    color: white !important;
    font-size: 18px;
}


.rating-box {
    height:100px;
    width:100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* top:-100px; */
}
.rating-top{
    width:100%;
    height:50px;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
}
.rating-bottom{
    width:100%;
    height:30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-50px;
    /* padding-right:10px; */
    /* padding-left:10px; */
}
.rating-bottom-2{
    width:100%;
    height:30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    left:-20px;
    background-color:transparent!important;;
    /* top:-50px; */
    /* padding-right:10px; */
    /* padding-left:10px; */
}
.rating-bottom-sp{
    width:100%;
    height:30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-100px;
    /* padding-right:10px; */
    /* padding-left:10px; */
}
.rating-top p:nth-child(1){
    font-size: 20px;
    color:#217283;
}
.rating-top p:nth-child(2){
    font-size: 18px;
    color:black;
    position: relative;
    top:5px;
    left:5px;
}
.star-box{
    height:100%;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left:15px;
    /* background-color: red; */
}
.fa-star {
    font-size: 20px;;
    color:#F59439;
}
.last-star{
    color:white;
}
.simpan-item{
    width:50%;
    height:50%;
    background-color: #217283;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:10px;
    border-radius:10px;
}
.simpan-item p{
    color:white;
    position: relative;
    top:5px;
}


.new-item-left{
    width:49%;
    height:100%;
    /* border:1px solid black; */
    border-radius:25px;
    background-color:#f6f6f6;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:25px;
}
.new-item-right{
    width:49%;
    height:100%;
    /* border:1px solid red; */
    border-radius:25px;
    background-color:#f6f6f6;
    padding:25px;
    display: flex;
    flex-direction: column;
    
}
.item-left-img-box {
    height:70%;
    width:100%;
    /* border:1px solid black; */
}
.pop:hover{
    cursor:pointer;
}
.item-left-img-box  img {
    width:100%;
    height:100%;
    transition:3s fadein;
}

.img-option-left{
    width:100%;
    height:30%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction:row;
    padding:10px;
}
.option-left-1{
    width:70px;;
    height:70px;
    border:5px solid lightgray;
    margin:5px;
    transition:0.5s;
}
.option-left-1:hover {
    border:5px solid #58C0C1;
    width:100px;
    height:100px;
}
.option-left-1 img {
    width:100%;
    height:100%;
    border-radius:10px;
}
.option-left-1:hover img{
    width:100%;
    height:100%;
}
.box-button-next-back{
    height:50px;
    width:100%;
    display:flex;
    flex-direction: row;
    position: relative;
    top:-60%;
    justify-content:space-between;
}
.box-button-next-back i {
    color:#f6f6f6;
    font-size:30px
}
.box-btn-left{
    width:50px !important;;
    height:50px !important;
    border-radius:50% !important;
    background-color:#f6f6f6 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:-5% !important;
    
}
.box-btn-left:hover {
    cursor:pointer;
}
.box-btn-right:hover {
    cursor:pointer;
}
.box-btn-right{
    width:50px !important;
    height:50px !important;
    border-radius:50% !important;
    background-color:#f6f6f6 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:-5% !important;
}
.box-btn-left i {
    color:gray;
    font-size:30px;
   
    
}
.box-btn-right i {
    color:gray;
    font-size:30px;
    
    
}

.box-back-right-id{
    width:100%;
    height:30px;
    min-height:30px;
    /* border:1px solid black; */
    display: flex;
    flex-direction:row;
    margin-bottom:5px;
}

.box-description-right-id{
    width:100%;
    height:100px;
    min-height:100px;
    /* border:1px solid blue; */
    display: flex;
    flex-direction:column;
    margin-bottom:5px;
    padding-left:15px;
}
.box-description-right-id p:nth-child(1){
    color:gray;
    font-size:16px;
    font-weight: 600;
    margin:0px !important;
}
.box-description-right-id p:nth-child(2){
    color:black;
    font-size:16px;
    font-weight: 700;
    height:40px;
    margin:0px !important;
}
.box-description-right-id p:nth-child(3){
    color:gray;
    font-size:11px;
    font-weight: 700;
    margin:0px !important;
}

.bd-right-id{
    width:100%;
    display: flex;
    flex-direction: row;
    height:60px;
    align-items: center;
}
.qty-box-pd{
    width:120px;
    height:35px;
    /* border:1px solid white; */
    background:#e6edf7;
    margin-left:10px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius:10px;
    font-size:13px;
    font-weight:700;
    color:#d63031;
    /* color:blue; */
}
.qty-box-pd span{
    color:#217384; 
    font-size:13px;
}

.box-price-right-id{
    width:100%;
    height:60px;
    min-height:60px;
    /* border:1px solid pink; */
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom:5px;
    padding-left:10px;
    
}
.box-small-price-1 {
    width:25%;
    height:30px;
    /* border:1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:17px;
    font-weight: 700;
    flex-direction: column;
}
.bsp-1{
    height:100%;
    min-height:80%;
    width:50%;
    min-width:40%;
    /* display: flex; */
    /* flex-direction: row; */
    font-size:11px;
    /* border:1px solid #217384; */
    border-radius:5px;
    margin:5px;
    align-items: center;
    background-color:#58C0C1;
    color:white;
    padding-left:5px;
    /* background-color:red; */
}
.bsp-1 p {
    font-size:13px;
    margin:0px !important;
}
.box-small-price-2 {
    width:24%;
    height:25px;
    /* border:1px solid red; */
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    font-size:11px;
    background-color:#58C0C1;
    margin-right:5px;
}

.box-quality-right-id {
    width:100%;
    height:100px;
    min-height:100px;
    /* border:1px solid green; */
    display: flex;
    flex-direction:column;
    margin-bottom:5px;
    justify-content:space-between;
    padding:3px;
    padding-left:10px;
    font-weight:700;
    font-size:14px;
    position:relative;
    top:10px;
    /* overflow: auto; */
    /* overflow-x:scroll; */
}
.box-quality-right-id-2 {
    width:100%;
    height:70px;
    min-height:70px;
    
    
    /* border:1px solid green; */
    display: flex;
    flex-direction:column;
    margin-bottom:5px;
    justify-content:space-between;
    padding:3px;
    font-weight:700;
    font-size:14px;
    /* overflow: auto; */
    /* overflow-x:scroll; */
}
.box-small-price-2:hover {
    cursor:pointer;
}

.box-small-price-3 {
    width:24%;
    height:25px;
    border:1px solid lightgray;
    display: flex;
    color:gray;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    font-size:11px;
    margin-right:5px;
    /* background-color:#217384; */
}
.box-small-price-3:hover {
    cursor: pointer;
    background-color:#217384;
    color:white;
    transition:1s;
}
.box-small-price-3 ::after{
    background-color:#217384;
    color:white;
    transition:1s
}
.nav-link {
    padding:2px !important;
    color:gray !important;
    width:25% !important;
    font-size:13px !important;
}
.nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
     border-color : #217384 #217384 #fff !important;
 }

.card-quality-right-id {
    width:100%;
    display: flex;
    flex-direction:row;
    height:auto;
    overflow: auto;
    overflow-x:scroll;
}

.box-option-right-id {
    width:100%;
    height:160px;
    
    background-color:white;
    border-radius:10px;
    padding:10px;

}

.btn-back-right-id{
    width:100px;
    height:100%;
    font-size:16px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    position: relative;
    left:-5%;
    color:#217384;
    font-weight:500;
}
.btn-back-right-id:hover {
    cursor:pointer;
}
.btn-back-right-id i {
    color:#217283;
    font-size:20px;
    margin-right:10px;
}

.img-big-active {
    display: flex;
    /* -webkit-animation: fadeinout 4s linear infinite; */
    /* animation: fadeinout 4s linear infinite; */
    /* opacity: 0; */

    
}
.img-big {
    display: none;
}
/* @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1 !important; }
} */
@-webkit-keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeinout {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nav-home{
    /* display: flex; */
    /* flex-direction:column; */
    overflow: auto;
    overflow-x: scroll;
    height:130px !important;
    /* overflow:hidden; */
    /* background-color:red; */
}
#nav-profile{
    /* display: flex; */
    /* flex-direction:column; */
    overflow: auto;
    overflow-x: scroll;
    height:130px !important;
    /* overflow:hidden; */
    /* background-color:red; */
}
.tab-content{
    height:130px !important;

}
#nav-contact{ 
    width:100%;
    height:130px !important;;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-items: center; */
    padding-bottom:5px;
    overflow: auto;
    overflow-x : scroll;
  
}

#nav-faq{
    width:100%;
    
    height:130px;
    display: flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items: center;
    position: relative;
    /* top:-100%; */
    padding:5px;
    overflow:auto;
    overflow-x:scroll;
}
.user-card-id{
    width:100%;
    height:70px;
    min-height:70px;
    /* border:1px solid black; */
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}
.user-card-top-id{
    width:100%;
    height:40px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:10px;
}
.user-card-top-id img{
    width:30px;
    height:30px;
    margin-right:10px;
    border-radius:10px;

}
.user-card-desc-top-id{
    width:100%;
    height:auto;
    display: flex;
    flex-direction:column;
    font-size:13px;
}
.user-card-desc-top-id p{
margin:0px !important;
font-size:11px;
}
.user-card-bot-id{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-card-bot-id p {
    text-align: left;
    font-size:11px;
    
}
.card-sejenis-id {
    width:45%;
    min-width:45%;
    height:55px;
    /* border:1px solid black; */
    border-radius:10px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.card-sejenis-img-id{
    width:30%;
    height:90%;
    border:3px solid lightgray;
    border-radius:5px;
}
.card-sejenis-img-id img {
    width:100%;
    height:100%;
    border-radius:5px;
}

.card-sejenis-desc-id{
    width:65%;
    min-width:65%;
    height:80%;
    /* border:1px solid lightgray; */
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-left:5px;
    transition:0.5s;
}
.card-sejenis-desc-id p:nth-child(1){
    margin: 0px !important;
    font-size:10px;
    font-weight:700;
}
.card-sejenis-desc-id p:nth-child(2){
    margin: 0px !important;
    font-size:10px;
}
.card-sejenis-desc-id p:nth-child(3){
    margin: 0px !important;
    font-size:10px;
}

.card-sejenis-id:hover {
    cursor: pointer;
}

.card-sejenis-id:hover  .card-sejenis-img-id{
    border:3px solid #58C0C1;
    transition:0.5s;
}

.card-faq-id {
    width:100%;
    height:70px;
    /* border:1px solid black; */
    display: flex;
    flex-direction:column;
    margin-bottom:5px;
    padding:5px;
    border-bottom:2px solid gray;
}
.card-question-id{
    width:100%;
    min-width:400px;
    height:35px;
    /* border:1px solid pink;  */
    font-size:12px;
    font-weight:700;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.card-answer-id{
    width:100%;
    min-width:400px;
    height:35px;
    /* border:1px solid blue;  */
    font-weight: 400;
    font-size:11px;
    text-align: left;
    display: none;
    /* align-items: center; */
    color:gray;
    justify-content:space-between;
    
}

.card-for-minus-plus-id { 
    display: flex;
    flex-direction:row;
}
.card-for-minus-plus-id i{
    font-size:20px;
    color:gray;
}
.card-for-minus-plus-id i:hover {
    cursor: pointer;
    transition:0.5s;
    color:#217384;
}


.btn-minus-id{
    display: none;

}
.btn-plus-id{
    display: block;
}

.card-for-comment{
    height:70px;
    width:100%;
    display: flex;
    flex-direction: row;
    /* border:1px solid pink; */
    /* border-bottom:1px solid black; */
}
.card-for-comment input{
    width:70%;
    border:none;
    border-bottom:1px solid black;
}
.card-for-comment input:focus{
    outline:none
}

.btn-send-comment{
    width:100px;
    height:30px;
    background:lightgray;
    border:1px solid lightgray;
    border-radius:5px;
    font-size:11px;
    display: flex;
    justify-content:center;
    align-items: center;
    color:gray;
}
.active_send_comment{
    background:#217384;
    transition:0.5s;
    color:white;
    
}
.active_send_comment:hover {
    cursor: pointer;
}
/* .btn-send-comment:hover {
    cursor: pointer;
    background:#217384;
    transition:1s;
    color:white;
} */


.active_product{
    background: #58C0C1;
    color:white;
}
.img-notfound{
    visibility:hidden !important;
}