
.box-item-detail{
    width:100%;
    height:100vh;
    background-color: #ECF1F5;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    overflow:hidden;
    /* border:1px solid black; */
}
.box-item-img{
    display: flex;
    flex-direction: column;
    width:30%;
    height:100%;
    /* backdrop-filter: red; */
}

.item-img{
    /* padding-top:100px; */
    position: relative;
    /* top:50px; */
    width:100%;
    height:80%;
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    /* align-items: center; */
    /* padding:5px; */
}

.item-detail{
    /* width:500px; */
    width:70%;
    height:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    top:60px;
}
.img-icon{
    width:50px;
    height:70px;
    margin-right:5px;
}
.box-back-id{
    width:30px;
    height:30px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    /* top:100px; */
    /* left:80px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-right:5px;
}
.box-next-id{
    width:30px;
    height:30px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    /* top:100px; */
    /* left:-60px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.icon-prev-1{
    font-size:15px;
    color:#37ced5;
    opacity: 1;
    /* background: red; */
}

.box-nex-idt:hover{
    cursor: pointer;
}
.box-back-id:hover{
    cursor: pointer;
}
.detail-1 {
    /* height:300px; */
    width:auto;
    position: relative;
    /* top:20px; */
    /* background-color: green; */
}
.item-1 {
    /* background-color: red; */
    position: relative;
    top:20px;
}
.item-1 p{
    color:#217384;
    font-size: 30px ;
}
.item-3{
    height:fit-content;
    width:90%;
    /* background-color: purple; */
    /* margin-bottom:5px; */
    position: relative;
    left: 20px;
    top:-40px;
}
#span_harga{
    font-size: 30px;
    color: #37CED5;
}
.item-3 p {
    color:#217384;
    font-size: 15px;;
}
.item-2 p {
    font-size: 20px !important;
    color:#217384;
}
.item-2 p:nth-child(2){
    color:#37CED5;
    font-size: 16px !important;
}
.item-4 {
    position: relative;
    top:0px;
}
.item-4 p {
    color:#217384;
    font-size: 20px ;
}

.box-detail-option{
    width:100%;
    height:100px;
    display: flex;
    flex-direction: row;
}
.box-add{
    height:45px;
    width:200px;
    background-color: #37CED5 !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius:5px;
}
.box-add li p{
    /* background-color: red !important; */
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    float: left;
}
.box-add img{
    background-color: transparent !important;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    float: left;
}


.img-cart{
    height:40px;
    width:40px;
}

.box-discount{
    width:280px;
    height:46px;
    background:#37CED5;
    border-radius:5px;
    margin-left: 5px;
}



.add-discount p{
    padding: 10px;
    color: white;
    font-size: 1em;
}

.deskripsi_gb {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:80%;
    height:300px;
    overflow: scroll;
    position: relative;
    top:-70px;

}
.deskripsi_gb p{
    color: white !important;
    font-size: 18px;
}





.deskripsi {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:80%;
    height:300px;
    overflow: scroll;
    position: relative;
    top:-40px;

}
.deskripsi p{
    color: white !important;
    font-size: 18px;
}

.deskripsi-sp {
    border-radius: 5px;
    padding: 10px;
    background-color: #217384;
    width:95%;
    height:150px;
    overflow: scroll;
    position: relative;
    top:-40px;

}
.deskripsi-sp p{
    color: white !important;
    font-size: 18px;
}


.rating-box {
    height:100px;
    width:100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* top:-100px; */
}
.rating-top{
    width:100%;
    height:50px;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
}
.rating-bottom{
    width:100%;
    height:30%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-50px;
    /* padding-right:10px; */
    /* padding-left:10px; */
}
.rating-top p:nth-child(1){
    font-size: 20px;
    color:#217283;
}
.rating-top p:nth-child(2){
    font-size: 18px;
    color:black;
    position: relative;
    top:5px;
    left:5px;
}
.star-box{
    height:100%;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.fa-star {
    font-size: 20px;;
    color:#F59439;
}
.last-star{
    color:white;
}
.simpan-item{
    width:50%;
    height:50%;
    background-color: #217283;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:10px;
    border-radius:10px;
}
.simpan-item p{
    color:white;
    position: relative;
    top:5px;
}
