.box-list-kategori{
    width:100%;
    height:auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin:5px; */
    /* justify-content: center; */
    overflow-x: hidden;
}
.box-list-all-item{
    width:400px;
    height:450px;
    background-color: #E7E7E7;
    border-radius:5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin:5px; */
    /* justify-content: center; */
    overflow-x: hidden;
}

.card-lk {
    width:196px;
    height:205px;
    background-color: #217384;
    color: white;
    position: relative;
    top:5px;
    margin:2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-img-lk{
    width:70%;
    border: none;
    height:130px;
    border-radius:10px;
    position: relative;
    top:10px;
}
.box-img-lk img{
    height:100%;
    width:100%;
}
.card-lk p {
    position: relative;
    top:20px;
    left:-10px;
    font-weight: 600;
}
.card-lk:hover {
    cursor: pointer;
    /* border: 2px solid #217283; */
    /* transition-delay: 0.1s; */
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    border-radius:5px;
}
.card-lk:hover .box-img-lk{
    transition-duration: 0.2s;
}


