.box-searching{
    width:100%;
    height:100%;
    background-color: #d4dee8;
    display: flex;
    flex-direction: row;
}

.searching-left{
    width:25%;
    height:auto;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding-left:30px;
    padding-top:10px;
    border-right:1px solid black;
}
.breadcrumb{
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.breadcrumb-item a {
    text-decoration: none;
    color:#535353;
}
.list-item{
    color: #217384 !important;
    font-size: 15px;
    
}
.searching-right{
    width:75%;
    height:100%;
    /* background-color: red; */
    display: flex;
    padding:10px;
    padding-top:50px;
    flex-direction: column;
    padding-bottom:20px;
}

.item-detail-1 {
    width:100%;
    height:30px;
    /* background-color: blue; */
}

.item-detail-1 p {
    font-weight: 700;
}
.item-detail-2 {
    width:100%;
    height:50px;
    /* background-color: blue; */
    border-top:1px solid black;
    border-bottom:1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top:20px;
}
.item-detail-2 p {
    position: relative;
    top:5px;
}
.item-detail-2 p:nth-child(1){
    font-weight: 700;
}
.item-detail-2 p:nth-child(2){
    position: relative;
    left:20px;
}
.kategori-item{
    width:100%;
    height:100%;
    /* background-color:pink; */
}
.kategori-item p {
    position: relative;
    left:15px;
    font-weight: 900;
}

.list-group-item{
    background-color: transparent !important;
    border :none !important;
}

.box-icon{
    display: flex;
    flex-direction: column;
    width:100px;
    height:100%;
    /* background-color: red; */
    position: relative;
    /* left:20px; */
    justify-content: center;
    align-items: center;
}

/* box card */

.box-card{
    width:100%;
    height:350px;
    /* padding-left:5px; */
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
    justify-content: center;
    /* background: #4bace5; */
}

.card-item{

    width:250px;
    height:350px;
    /* background: white; */
    border:1px solid  #D4DEE8;
    padding:5px;
    margin:15px;
    border-radius:5px;
    position: relative;
    /* left:-30px; */
}
.img-card{
    width:100%;
    height:250px;
    /* border:1px solid black; */
}
.split-item{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}
.item-price{
    width:50%;
    /* background-color: blue; */
    line-height:0.7;
}
.item-price p:nth-child(1){
    text-decoration: line-through;
}
.icon-buy{
    width:30px;
    height:30px;
    position: relative;
    left:15px;
}
.icon-buy:hover{
    cursor: pointer;
}
.box-detail-price{
    /* background-color: red; */
    width:100%;
    height:100px;
}
.card-item-list{
    /* padding:5px; */
    padding-top:5px;
    padding-left:20px;
    display: flex;
    
    /* justify-content: center; */
    /* align-items: center; */

    width:100%;
    height:100px;
    background-color: white;
    /* background: green; */
    /* line-height:0.3; */
    flex-direction: column;
}
/* .card-item-list p:nth-child(1){
    font-size: 14px;
}
.card-item-list p:nth-child(2){
    font-size: 14px;
    text-decoration: line-through;
}
.card-item-list p:nth-child(3){
    font-size: 14px;
} */


.box-back{
    width:80px;
    height:80px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    top:100px;
    /* left:80px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.box-next{
    width:80px;
    height:80px;
    background: rgb(255, 255, 255,0.5); /* fallback color */
    /* border:1px solid black; */
    position: relative;
    top:100px;
    /* left:-60px; */
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.icon-prev{
    font-size: 50px;
    color:#37ced5;
    opacity: 1;
    /* background: red; */
}